.title-game{
    display: block;
    height: 200px;
    padding:20px;
    border: 3px solid blue


}

.title{
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size:  46px;
    animation: 3s  alternate slidein;

    
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}


.options button{
    display: flex;
    flex-direction:block;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid white;
    width: auto;
    margin-top: 30px;
    font-family: monospace;
    font-size:23px;
    font-weight: bolder;
    animation: 3s  alternate slidein;
    color:yellowgreen;
    background-color: rgb(29, 54, 54);
    
  

}

